@{
    ViewBag.Title = "Блог";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<section class="newsList">
    @foreach (Braz.Models.Post post in ((List<Braz.Models.Post>)ViewData["PostList"]).OrderByDescending(x=>x.Date).ToList())
    {
        <div class="newsBlock" style="background-image: url(/Content/img/news/newsmore/@(post.Id.ToString()).list.jpg);">
            <div class="overlay">
                <div>
                    <h5>@post.Header</h5>
                     @{ 
                               System.Globalization.CultureInfo cult = new System.Globalization.CultureInfo("ru-RU");
                               }
                              <p style="padding-right: 30px;color: white;">@post.Date.ToString("d MMM yyyy",cult)</p>
                    <a href="/blog/news?post=@(post.Id)" target="_blank">
                        <span class="border"></span>
                        <span class="border"></span>
                        <span class="border"></span>
                        <span class="border"></span>
                        Читать <i class="fa fa-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    }
    <!--<div class="newsBlock" style="background-image: url(img/news/newsmore/2.1.jpg);">
        <div class="overlay">
            <div>
                <h5>Алюминий VS Медь</h5>
                <a href="#">
                    <span class="border"></span>
                    <span class="border"></span>
                    <span class="border"></span>
                    <span class="border"></span>
                    Читать <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="newsBlock" style="background-image: url(img/news/newsmore/3.1.jpg);">
        <div class="overlay">
            <div>
                <h5>Услуга «Декорирование алюминиевого профиля»</h5>
                <a href="#">
                    <span class="border"></span>
                    <span class="border"></span>
                    <span class="border"></span>
                    <span class="border"></span>
                    Читать <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="newsBlock" style="background-image: url(img/news/newsmore/4.1.jpg);">
        <div class="overlay">
            <div>
                <h5>Выбор Джеймса Бонда</h5>
                <a href="#">
                    <span class="border"></span>
                    <span class="border"></span>
                    <span class="border"></span>
                    <span class="border"></span>
                    Читать <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="newsBlock" style="background-image: url(img/news/newsmore/5.1.jpg);">
        <div class="overlay">
            <div>
                <h5>Motorolla</h5>
                <a href="#">
                    <span class="border"></span>
                    <span class="border"></span>
                    <span class="border"></span>
                    <span class="border"></span>
                    Читать <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>-->
</section>