@{
    ViewBag.Title = "Часто задаваемые вопросы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="qList">
    <h5>
        Каков минимальный обьем заказа?
    </h5>
    <p>
        От 300 кг - для заказа <br>
        Для образцов - согласовывается индивидуально.
    </p>
    <h5>
        Какая марка сплава, с которым работаем?
    </h5>
    <p>
        Ад31, АД0, АД0П4, 6005, 1050, 6060, 6063
    </p>
    <h5>
        Ценовая политика?
    </h5>
    <p>
        Оговаривается ИНДИВИДУАЛЬНО, формируется в зависимости от сложности профиля, обьема заказа, конфигурации профиля, периодичности производства.
    </p>
    <h5>
        Срок производства?
    </h5>
    <p>
        от 5 до 30 рабочих дней, в зависимости от объема заказа, конфигурации профиля,типа покрытия и механичной обработки.
    </p>
    <h5>
        Какие виды механичной обработки доступны на данном производстве?
    </h5>
    <p>
        Порезка, сверловка, зеновка, штамповка, вырубка
    </p>
    <h5>
        Какие виды покрытия доступны на данном производстве?
    </h5>
    <p>
        Анодирование, полимерно-порошковая покраска, декорирование методом сублимации.
    </p>
    <h5>
        Есть ли у нас доставка?
    </h5>
    <p>
        Отгрузки на условиях  FCA, по желанию менеджер отдела сбыта может организовать  вызов перевозчика.
    </p>
</div>