@{
    ViewBag.Title = "Группа компаний";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Section = (string)ViewData["Section"];
}
<section class="groupCompanies">
    <aside>
        <div class="mainLogo">
            <img src="~/Content/img/companies/alumeta.png" alt="">
        </div>
<h3>Компании</h3>
        <ul class="listCompanies">
            <li><a href="/">Броварской Алюминиевый Завод</a></li>
            <li><a href="/Pages/Group/BrazLine">Braz Line</a></li>
            <li><a href="/Pages/Group/Acore">Acore</a></li>
            <!-- <li><a href="/Pages/Group/teploEnergy">Brovary Teplo Energy</a></li> -->
            <li><a href="/Pages/Group/BrazConstruction">Braz Construction</a></li>
        </ul>
    </aside>
    @if (Section == "BrazConstruction")
    {
        <section class="companyContent">
            <div class="titleBlock">
      <div>
        <img src="~/Content/img/companies/constDir.jpg" alt=""> 
      </div>
      <div>
        <div class="companyName">
          Braz Construction
        </div>
        <div class="companyContacts">
          <p>
            <span>Тел.</span> +38 (044) 579-90-51
          </p>
          <p>
            <span>E-Mail</span> tromsa@i.ua
          </p>
          <p>
            <span>Сайт</span> braz-construction.com
          </p>
          <p><span>Директор</span> Юрий Тромса</p>
          <p>
              <span>7400, Украина, Киевская область <br>г. Бровары, бульвар Независимости, 30</span>
          </p>
        </div>

      </div>
      <div><img src="~/Content/img/companies/const.png" alt=""></div>
      </div>


<div class="row">
                <div class="col-md-6 p0">
                    <div class="compDescr1">
                        <div class="compDescrTitle" >
                            о нас
                        </div>
                        BRAZ CONSTRUCTION - инжиниринговая компания, производитель алюминиевых профильных систем, входит в группу компаний Алюмета. Основным направлением деятельности
                        компании является ­ разработка, производство, комплектация и продажа
                        строительных алюминиевых систем.
                        С момента основания  и по сегодняшний день мы являемся динамично
                        развивающейся компанией. Благодаря инновационным конструкторским
                        решениям и высокотехнологичным производственным возможностям, а
                        также сертифицированной системе менеджмента ­ появляются
                        современные, алюминиевые строительные системы, которые и формируют
                        ассортимент продукции компании под торговой маркой ­ «BRAZCON» .
                        Соответствуя международным стандартам качества, наши системы
                        достойно конкурируют не только на рынке Украины, а и за рубежом.
                    </div>
                </div>
                <div class="col-md-6 p0">
                    <img src="~/Content/img/companies/more/c3.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="compDescr2">
                <!-- <div class="imgBlock" style="background-image: url(../../Content/img/companies/more/c2.jpg);"></div> -->
<div><img src="../../Content/img/companies/more/c2.jpg" style="width: 100%"></div>
                <ul class="compRange">
                    <li>ПРОДУКЦИЯ BRAZ CONSTRUCTION:</li>
                    <li>ФАСАДНЫЕ СВЕТОПРОЗРАЧНЫЕ СИСТЕМЫ</li>
                    <li>СИСТЕМЫ ВЕНТИЛИРУЕМЫХ ФАСАДОВ</li>
                    <li>ОКОННЫЕ СИСТЕМЫ</li>
                    <li>ДВЕРНЫЕ СИСТЕМЫ</li>
                    <li>СИСТЕМЫ ВНУТРЕННИХ ПЕРЕГОРОДОК</li>
                    <li>РАЗДВИЖНЫЕ СИСТЕМЫ</li>
                    <li>СИСТЕМЫ ОГРАЖДЕНИЙ</li>
                    <li>СИСТЕМЫ СОЛНЦЕЗАЩИТЫ И ВЕНТИЛЯЦИИ</li>
                    <li>ПРОТИВОМОСКИТНЫЕ СИСТЕМЫ</li>
                    <li>РОЛЛЕТНЫЕ СИСТЕМЫ</li>
                    <li>ВОРОТНЫЕ СИСТЕМЫ</li>
                    <li>КОМПЛЕКТАЦИЯ, ФУРНИТУРА, АКСЕСУАРЫ</li>
                    <li>ОБОРУДОВАНИЕ И ОСНАСТКА</li>
                </ul>
            </div>


            <div class="row">
                <div class="col-md-6 p0">
                    <div class="compDescr1" >
                        Наличие собственного цеха переработки, оснащенного современным

                        высокоточным оборудованием, позволяет оказывать полный спектр услуг

                        на алюминиевом строительном рынке и контролировать качество

                        продукции на всех этапах её производства.

                        Безупречное качество продукции «BRAZCON» подтверждено

                        соответствующими протоколами испытаний и сертификатами качества.

                        Для комплектации систем используется продукция, исключительно

                        европейских поставщиков из Германии, Польши, Бельгии, Италии, Турции

                        и других стран, что в свою очередь способствует достижению высоких

                        требований качества производимой продукции и конструкций.

                        Наша цель – системы европейского уровня!

                        Простые в изготовлении и монтаже, имеющие конкурентную цену!

                        Мы уверены, что взаимовыгодное сотрудничество – это ключ к

                        развитию и процветанию бизнеса.
                    </div>
                </div>
                <div class="col-md-6 p0">
                    <img src="~/Content/img/companies/more/c1.jpg" class="img-responsive" alt="">
                </div>
            </div>

        </section>

    }
    else if (Section == "BrazLine")
    {
        <section class="companyContent">
            <div class="titleBlock">
      <div>
        <img src="~/Content/img/companies/lineDir.jpg" alt=""> 
      </div>
      <div>
        <div class="companyName">
          Braz Line
        </div>
        <div class="companyContacts">
          <p>
            <span>Тел.</span> +38 (044) 579-90-07
          </p>
          <p>
            <span>E-Mail</span> info@brazline.com
          </p>
          <p>
            <span>Сайт</span> brazline.com
          </p>
          <p>
            <span>Директор</span> Владислав Пархоменко
          </p>
          <p>
              <span>7400, Украина, Киевская область <br>г. Бровары, бульвар Независимости, 30</span>
          </p>
        </div>

      </div>
      <div><img src="~/Content/img/companies/line.png" alt=""></div>
      </div>
            <div class="row">
                <div class="col-md-6 p0">
                    <div class="compDescr1">
                        <div class="compDescrTitle" >
                            о нас
                        </div>
                        Компания БРАЗ ЛАЙН Входит в группу компаний Алюмета и занимается

проектированием, производством и продажей изделий из алюминиевого профиля.

БРАЗ ЛАЙН является лидером на украинском рынке в сегменте производства

изделий для внутренней отделки помещений.

С момента основания компания динамично развивается и благодаря четкому

пониманию потребностей потребителей производит широкий ассортимент

продукции, насчитывающий более 500 наименований.
Миссия.

Создавать и реализовывать доступную широкому кругу потребителей продукцию с

совершенным дизайном и оптимальным сочетанием потребительских свойств.


                    </div>
                </div>
                <div class="col-md-6 p0">
                    <img src="~/Content/img/companies/more/l1.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p0">
                    <img src="~/Content/img/companies/more/l3.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 p0">
                    <div class="compDescr1">
                        Ценности

Ориентация на потребителя. Мы создаём комплексны продукт, способный удовлетворить

высокий уровень запросов наших клиентов.

Поиск новых идей. Мы систематически изучаем опыт наших коллег, фиксируем

наилучшие решения и реализуем в наших продуктах.

Продукт. Мы ориентированы на современный, модный, высокотехнологичный

комплексный продукт.

Непрерывное совершенствование. Мы постоянно совершенствуем себя, свои подходы,

действия, результаты. Активно изучаем чужой опыт и находим оптимальные решения.

Личная эффективность. Нас объединяет высочайшая степень уважения к себе, своему

профессионализму и личному результату, что не даёт нам возможности довольствоваться

просто «хорошо выполненной работой».

Скорость взаимодействия. Путём совершенствования внешних и внутренних

коммуникаций мы стремимся достичь высокой скорости взаимодействия. Наши идеи

находят своё воплощение в минимальный технически возможный срок.

Прибыльность. Стабильность компании – результат признания покупателями наших

усилий, поэтому во всём мы ориентированы на идеально выполненную работу.

                    </div>
                </div>
            </div>


            <div class="compDescr2">
                <ul class="compRange">
                    <li>Наш ассортимент:</li>
                    <li>Декоративные отделочные профили для керамической плитки</li>
                    <li>Декоративные профили для напольных покрытий</li>
                    <li>Плинтуса</li>
                    <li>Карнизы</li>
                    <li>Система ЛЭД профилей для отделки помещений</li>
                    <li>Система ЛЭД профилей общего назначения</li>
                    <li>Мебельные профили (Профили для мебельной промышленности)</li>
                </ul>
                <div class="imgBlock" style="background-image: url(../../Content/img/companies/more/l2.jpg);"></div>
            </div>


            <div class="compDescr2">
                <div class="imgBlock" style="background-image: url(../../Content/img/companies/more/l5.jpg);"></div>
                <ul class="compRange">
                    <li>А так же:</li>
                    <li>Раздвижные столярные и мебельные системы</li>
                    <li>Раздвижные системы для стеклянных перегородок</li>
                    <li>Межкомнатные двери</li>
                    <li>Системы для цельностеклянных перегородок</li>
                    <li>Системы быстрого монтажа стеновых панелей</li>
                    <li>Строительные уровни и правила</li>
                    <li>Лестницы, стремянки, строительные леса</li>
                </ul>
            </div>
        </section>
    }else if (Section == "Acore")
{
    <section class="companyContent">

<div class="titleBlock">
      <div>
        <img src="~/Content/img/acore/acoreDir.jpg" alt=""> 
      </div>
      <div>
        <div class="companyName">
          Acore Development
        </div>
        <div class="companyContacts">
          <p>
            <span>Тел.</span> +38 (050) 351 63­69
          </p>
          <p>
            <span>E-Mail</span> s.brovko@braz.industries
          </p>
<p>
            <span>Сайт</span> acore-devgroup.com
          </p>

<p>
            <span>Директор</span> Бровко Сергей
          </p>
<p>
            <span>07400, Украина, Киевская область<br>г. Бровары, бульвар Независимости, 30</span>
          </p>
        </div>
        
      </div>
      <div><img src="~/Content/img/companies/acore.png" alt=""></div>
      </div>


<div class="row">
                <div class="col-md-6 p0">
                    <div class="compDescr1">
                        <div class="compDescrTitle" >
                            о нас
                        </div>
                        Аккор Девелопмент – строительная компания, входящая в группу компаний Алюмета, с полным

циклом услуг – от разработки проектного предложения, оформления всех необходимых

разрешительных документов до строительства и ввода готового объекта в эксплуатацию.

Аккор Девелопмент – команда профессионалов, имеющая более 10-ти лет опыта в строительной

сфере. Основное направление деятельности которой – строительство и реконструкция

промышленных и торгово-офисных помещений.
                    </div>
                </div>
                <div class="col-md-6 p0">
                    <img src="~/Content/img/acore/1.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p0">
                    <img src="~/Content/img/acore/3.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6 p0">
                    <div class="compDescr1">
                        Какие работы мы выполняем: <br>

- Капитальное строительство;<br>

- Реконструкция промышленных и административных зданий;<br>

- Устройство внутренних и так же наружных инженерных сетей;<br>

Какую функцию можем выполнять:<br>

- Генеральный проектировщик;<br>

- Генеральный подрядчик;<br>

- Девелопер;<br>

- Эксплуатационная компания;<br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p0">
                    <div class="compDescr1" >
                        
                        За время своего существования компания построила более 10 тыс. кв.м. офисных помещений, ровела

реконструкцию более 3000 кв.м. промышленных зданий.

В настоящее время компания работает на территории Киева и Киевской области, в планах компании

– расширение географического присутствия по всей территории Украины, а так же выход за ее

пределы.
                    </div>
                </div>
                <div class="col-md-6 p0">
                    <img src="~/Content/img/acore/4.jpg" class="img-responsive" alt="">
                </div>
            </div>


</section>
}
else if (Section == "teploEnergy")
{
   <!-- <section class="companyContent">

<div class="titleBlock">
      <div>
        <img src="~/Content/img/companies/teploDir.jpg" alt=""> 
      </div>
      <div>
        <div class="companyName">
          brovary teplo energy
        </div>
        <div class="companyContacts">
          <p>
            <span>Тел.</span> +38 (04594) 6-53-18
          </p>
          <p>
            <span>E-Mail</span> info@brovaryteploenergia.com
          </p>
          <p>
            <span>Сайт</span> brovaryteploenergia.com
          </p>
          <p><span>Адрес: 07400, Украина, Киевская обл., Бровары бул. Независимости 30</span></p>
        </div>
        
      </div>
<div><img src="~/Content/img/companies/energy.png" alt=""></div>
      </div>

<div class="row">
                <div class="col-md-6 p0">
                    <div class="compDescr1">
                        <div class="compDescrTitle" >
                            о нас
                        </div>
                        Броварытеплоэнергия - крупнейшая в Украине инновационная компания по производству

альтернативных источников тепла и электроэнергии, входящая в группу компаний

Алюмета.

Наша задача — создать системы выработки электроэнергии и тепла, которые будут

удовлетворять нуждам наших клиентов вне зависимости от сферы применения.

Мы располагаем необходимым оборудованием мощностью более 4 мВатт, позволяющим

продавать излишки электроэнергии и тепла для предприятий, требующих непрерывной

подачи тепла и электричества.
                    </div>
                </div>
                <div class="col-md-6 p0">
                    <img src="~/Content/img/companies/teplo/1.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p0">
                    <img src="~/Content/img/companies/teplo/2.jpg" class="img-responsive" alt="" style="width: 100%">
                </div>
                <div class="col-md-6 p0">
                    <div class="compDescr1">
                        Главным фактором, заставляющим переходить на альтернативные средства снабжения

теплом и электроэнергией, является изношенность тепло- и электросетей, а также низкое

качество электроэнергии. Этой альтернативой стали когенерационные установки малой

мощности, способные обеспечить тепловой и электрической энергией отдельные здания

или предприятия.

Мы готовы обеспечить непрерывную подачу электропитания и снизить ваши риски по

обеспечению бесперебойного производства. Наши системы для комбинированного

производства тепла и электроэнергии позволяют одновременно обеспечить выработку

электроэнергии для обслуживания электрических нагрузок и регенерации тепла для

обогрева помещений. А поскольку каждая рабочая площадка обладает своими

уникальными сложностями и проблемами, требующими индивидуального решения, мы

предоставляем технологии и услуги, принимающие во внимание специфику бизнеса

наших клиентов.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 p0">
                    <div class="compDescr1" >
                        
                        «Броварытеплоэнергия» может предложить альтернативные источники энергии,

получаемые через:

- когенерационные установки общей мощностью более 2 мВатт, используя которые мы

можем предлагать потребителям то избыточное тепло, которое получается вследствие

выработки электроэнергии. Мощности наших установок позволяют аккумулировать и

обеспечить теплом более 500 жилых домов или несколько производственных

предприятий среднего масштаба. Электроэнергия, произведенная когенерационной

установкой, употребляется для собственных нужд наших объектов, а ее избыток мы

выводитм в общественную сеть. Тепло когенерационных установок используется для

отопления объектов, подогрева воды и в технологических целях. Когенерационные

установки успешно используются в качестве аварийных источников электроэнергии во

время перебоев в общественной электросети, что снижает уязвимость именно тех

объектов, где требуется бесперебойная поставке электроэнергии.
                    </div>
                </div>
                <div class="col-md-6 p0">
                    <img src="~/Content/img/companies/teplo/3.jpg" class="img-responsive" alt="">
                </div>
            </div>




<div class="row">
<div class="col-md-6 p0">
                    <img src="~/Content/img/companies/teplo/4.jpg" class="img-responsive" alt="" style="width: 100%">
                </div>
                <div class="col-md-6 p0">
                    <div class="compDescr1" >
                        
                       - газогенераторные установки – современные, долговечные, не требующие больших

затрат системы выработки энергии, интегрируемые с системами выпуска отработанных

газов, системой подачи топлива, платформами комбинированного охлаждения,

выработки тепла и производства электроэнергии. 

- дизельные генераторные установки для подачи мощности в основном, непрерывном или

резервном режиме. Дизельные генераторы, которыми мы располагаем, сконструированы

в соответствии с мировыми стандартами, отличаются высокой эффективностью, низким

расходом топлива и отвечают международным требованиям к объему выбросов

загрязняющих веществ. 

В планах компании использование солнечной энергии, получаемой солнечными

батареями для выработки электричества и гелиоустановкой для сбора тепловой энергии

солнца. В отличие от солнечных батарей, производящих электричество, установка

производит нагрев материала-теплоносителя, что эффективно применять для нужд

горячего водоснабжения и отопления помещений.
                    </div>
                </div>
                
            </div>







</section>-->
}

</section>

<!-- <style>
.compDescr1{
padding: 0 40px 10px 40px !important;
}
</style> -->