@{
    ViewBag.Title = "Услуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="services_screen">
    <div class="serv_block" style="background-image: url('../../Content/img/serv/1.jpg')">
        <div class="overlay">
            <h5>Литье цилиндрических столбов <div class="line"></div></h5>
            
            <p>
                Процесс изготовления столба алюминиевого включает три этапа: <br>
                • плавка в печи непрерывного действия;<br>
                • литье в горизонтальной литейной машине;<br>
                • гомогенизация — термическая обработка для получения однородной и крепкой структуры слитка.<br>
                По сравнению со стальным, алюминиевый столб обладает множеством преимуществ:<br>
                • небольшой вес;<br>
                • более податлив механической обработке;<br>
                • хороший внешний вид, прочность, жесткость, долговечность;<br>
                • высокая устойчивость к возникновению коррозии;<br>
                • приемлемая цена при покупке.<br>
                Перечень сфер, где применяется столб алюминиевый, многочисленный. В частности, он служит основной заготовкой для экструзионного производства профилей.
                Цилиндрические столбы литейного производства Броварского Алюминиевого Завода имеют свидетельство соответствия нормативным документам ДСТУ ISO 9001:2009 (ISO 9001:2008, IDT).
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/2.jpg')">
        <div class="overlay">
            <h5>Точная порезка <div class="line"></div></h5>
            <p>
                Двухголовая пила производителя Wegoma с возможностью регулировки угла резки от 90° до 45° обеспечит точную порезку Вашего алюминиевого профиля.
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/3.jpg')">
        <div class="overlay">
            <h5>Механическая обработка поверхности <div class="line"></div></h5>
            <p>
                Установленные в цехе механической обработки современные станки позволяют выполнять нашему заводу такие задачи по обработке алюминиевых профилей,  как: <br>
                • фрезерная обработка; <br>
                • токарная обработка; <br>
                • сверление отверстий; <br>
                • порезка в размер; <br>
                • штамповка;<br>
                • сверление.<br>
                Цех механической обработки Броварского Алюминиевого Завода выполнит заказы по механической обработке как продукции  своего производства, так и по обработке изделий заказчика.
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/4.jpg')">
        <div class="overlay">
            <h5>Дробеструйная обработка поверхности <div class="line"></div></h5>
            <p>
                Абразивная обработка поверхности алюминиевых профилей производится стальной нержавеющей дробью с целью улучшения его поверхности перед применением предохранительных слоев. <br>
                Так же на нашем предприятии для получения гладкой, зеркально блестящей и более чистой поверхности алюминиевого профиля возможна его полировка.
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/5.jpg')">
        <div class="overlay">
            <h5>Анодно-окисное покрытие <div class="line"></div></h5>
            <p>
                Покрытие представляет собой пористый прозрачный слой окисла
алюминия. Толщина анодно-окисного покрытия зависит от длительности процесса
анодного окисления и выбирается от 6 до 21 мкм, в зависимости от условий
эксплуатации изделия. Окончательной операцией процесса получения покрытия
является обработка покрытия в кипящей дистиллированной воде. Завод производит
изделия с анодно-окисными покрытиями трех видов: ∙ Бесцветное, анодно-окисное.
Получены вышеописанным способом. ∙ Цветные анодно-окисные, окрашивание
электрохимически в цвета «старой бронзы» или черный, получаются в две стадии,
первоначально получают анодно-окисное бесцветное покрытие, затем в поры окисной
плёнки осаждают из раствора, содержащего соль олова, микрочастички
металлического олова под воздействием электрического импульсного тока в
зависимости от напряжения и времени окрашивания получают различные цвета.
Окончательной операцией нанесения покрытия является обработка изделий в кипящей
дистиллированной воде. Цвет покрытия (окраска) устойчив к многолетнему
воздействию солнечного освещения и атмосферному воздействию. ∙ Цветные
анодно-окисные, окрашенные химически в цвета «золотистый», получаются в две
стадии, первоначально получают анодно-окисное бесцветное покрытие, затем
окрашивают его в растворе аммоний железо оксалата, заполняя поры покрытия
пигментом золотистого цвета. Окончательная операция – кипящая дистиллированная
вода. Цвет покрытия (окраска) устойчив к многолетнему воздействию солнечного
освещения и атмосферному воздействию.
            </p>
        </div>
    </div>
    <div class="serv_block" style="background-image: url('../../Content/img/serv/6.jpg')">
        <div class="overlay">
            <h5>Полимерное покрытие <div class="line"></div></h5>
            <p>
                Для улучшения эксплуатационных, защитных и декоративных характеристик Вашего изделия возможна его окраска порошковыми эмалями по цветовой гамме RAL, а также нанесение структуры дерева на поверхность любой сложности с точной передачей фактуры.
            </p>
        </div>
    </div>
</section>



<div id="page-preloader"><span class="spinner"></span></div>
