@{
    ViewBag.Title = "История компании";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="storyPage">
  <div class="container storyContainer">
    <div class="storyTitleDate" style="color: #00BBDA;">
        1979
      </div>
    <div>
      <div class="imgBlock" style="background-image: url(../../Content/img/story/1.jpg)"></div>
      <div class="storyText">
        Броварской алюминиевый завод был основан в 1979 году как первое предприятие по

изготовлению алюминиевого профиля в Украине. В 80-е годы завод стал единственным

на территории Украины предприятием, внедрившим технологию производства профилей

в условиях полного цикла с использованием безотходных технологий.

Уже тогда, благодаря высокому качеству продукции до 70% алюминиевых изделий

реализовывались в Белоруссии, странах Балтики, России и Молдове
      </div>
    </div>
<div class="storyTitleDate" style="color: #00BBDA;">
        2006
      </div>
    <div>
      <div class="imgBlock" aos="fade-right" style="background-image: url(../../Content/img/story/2.jpg); background-position:center;"></div>
      <div class="storyText" >
        До 2006 года руководство завода не предпринимало никаких мер по модернизации

производства, не проводились исследования потребностей клиентов и анализ рынка, не

было грамотной системы менеджмента, технологическое оборудование морально и

физически устарело, и, как следствие, продукция завода перестала быть востребованной

и количество заказов существенно уменьшилось, завод перестал быть рентабельным,

возникла задолженность перед работниками и государством. Часть оборудования

уничтожили, порезав на металлолом.
      </div>
    </div>
<div class="storyTitleDate">
        2009
      </div>
    <div>
      <div class="imgBlock" aos="fade-left" style="background-image: url(../../Content/img/story/3.jpg)"></div>
      <div class="storyText">
       Завод был остановлен и началась его ликвидация.
      </div>
    </div>
<div class="storyTitleDate" style="color: #00BBDA;">
        2011
      </div>
    <div>
      <div class="imgBlock" aos="fade-right" style="background-image: url(../../Content/img/story/4.jpg)"></div>
      <div class="storyText" >
        В мае 2011 неработающее предприятие приобретает группа компаний Алюмета и на базе

завода создана новая компания – ООО "Броварской алюминиевый завод".

За полтора года команде Сергея Шапрана удалось возобновить завод и запустить в

круглосуточную работу инструментальный, литейный, прессовый, гальванический и

малярный цеха. Это дало возможность выпускать алюминиевый профиль, строительные

алюминиевые конструкции, лить заготовки разных диаметров, наносить

гальванозащитное покрытие, изготавливать товары широкого потребления.

После успешной модернизации производства группой компаний Алюмета и благодаря

успешному менеджменту ассортимент производимой продукции непрерывно

увеличивается и на сегодняшний день составляет более 8124 наименований

алюминиевого профиля различного направления и конфигураций. Завод работает

круглосуточно и успешно экспортирует свою продукцию более чем в 14 стран Европы и

Ближнего Востока.
      </div>
    </div>
<br>
<br>

<div class="lastBlock">
      <div class="imgBlock" aos="fade-left" style="background-image: url(../../Content/img/story/5.jpg)"></div>
      <div class="storyText">
        В настоящий момент ООО «Броварской алюминиевый завод» продолжает оставаться

лидером в отрасли производства алюминиевых профилей в Украине, постоянно внедряя

новые инновационные технологии, инвестируя в новое европейское оборудование,

используя современную систему менеджмента и строго придерживаясь международных

стандартов качества.
      </div>
    </div>
</section>


<div id="page-preloader"><span class="spinner"></span></div>


