<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Заголовок</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- build:css css/vendor.min.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.css" />
    <link rel="stylesheet" href="bower_components/aos/dist/aos.css" />
    <link rel="stylesheet" href="bower_components/chartist/dist/chartist.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/media.css">
    <!-- endbuild -->


</head>

<body>

<!-- <a class="up_btn" href="#header">
    <i class="fa fa-chevron-up"></i>
</a>

<a href="#" class="cat_btn">
    <div>
        <i class="fa fa-cog"></i>
    </div>
</a> -->
<nav>
    <a href="index.html"><img src="img/logo.png" class="mobLogo" alt=""></a>
    <div class="navbar-header">
        <button class="navbar-toggle collapsed mobMenuInner" data-toggle="collapse" data-target="#menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
    </div>
    <div class="collapse navbar-collapse" id="menu">
        <ul>
            <li><a href="#">О нас</a>
                <ul class="dd_menu">
                    <li><a href="story.html">История</a></li>
                    <li><a href="group.html">Группа компаний</a></li>
                    <li><a href="statistics.html">Статистика</a></li>
                </ul>
            </li>
            <li><a href="#">каталог</a>
                <ul class="dd_menu">
                    <li><a href="#">Полоса</a></li>
                    <li><a href="#">Трубы АЛЮМИНИЕВЫЕ</a></li>
                    <li><a href="#">Уголок</a></li>
                    <li><a href="#">Пруток</a></li>
                    <li><a href="#">Прочие профили</a></li>
                </ul>
            </li>
            <li><a href="#">Наше производство</a>
                <ul class="dd_menu">
                    <li><a href="prod.html">Литейное производство</a></li>
                    <li><a href="prod2.html">Экструзионное производство</a></li>
                    <li><a href="prod3.html">Цех гальванического покрытия</a></li>
                    <li><a href="prod4.html">Цех полимерного покрытия</a></li>
                    <li><a href="prod5.html">Лабаратория</a></li>
                    <li><a href="prod6.html">Участок упаковки</a></li>
                    <li><a href="services.html">Услуги</a></li>
                </ul>
            </li>
            <li class="liLogo"><a href="index.html" aos="flip-left" aos-duration="800"><img src="img/logo.png" alt="logo"></a></li>
            <li><a href="#">Пресс-центр</a>
                <ul class="dd_menu">
                    <li><a href="newsList.html">Новости</a></li>
                    <li><a href="#">Блог компании</a></li>
                    <li><a href="questions.html">Часто задаваемые вопросы</a></li>
                    <li><a href="#">Отзывы</a></li>
                </ul>
            </li>
            <li><a href="#">Контакты</a></li>
            <!-- <li><a href="#"><i class="fa fa-user"></i></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"><div class="label">1</div></i></a></li> -->

            <li><a href="#" class="main_color" data-toggle="modal" data-target="#regModal">Регистрация</a></li>
            <li><a href="#" class="main_color" data-toggle="modal" data-target="#loginModal">Войти</a></li>
        </ul>
    </div>
</nav>

<section id="vacancy">
    <div class="outer">
        <div class="main-content">
            <h2>Название вакансии</h2>
            <h3 class="price">15000 грн</h3>
            <div class="desc-name">
                <h3>Описание вакансии</h3>
            </div>
            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi explicabo ullam delectus, rem unde illum dicta est exercitationem non error tenetur laudantium sint at aspernatur voluptatum libero corporis laboriosam quaerat.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi explicabo ullam delectus.</p>
            <div class="row">
                <div class="col-md-12">
                    <h4>Требования</h4>
                    <ul>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4>Обязанности</h4>
                    <ul>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                        <li>Lorem ipsum dolor.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar">
            <a href="#">Отправить резюме</a>
            <div class="drag">Перетащите Ваше резюме сюда</div>
        </div>
    </div>
</section>

<footer>
    <div class="soc_block">
        <div class="item">
            <a href="https://www.facebook.com/braz.industries/" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <div class="item">
            <a href="">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
        <div class="item">
            <a href="">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="item">
            <a href="https://plus.google.com/108630417052860007244" target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
        </div>
        <div class="item">
            <a href="https://www.youtube.com/channel/UC1T9si7nLVStmCxWFce942Q" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    Сopyright&copy;2016
                </div>
            </div>
        </div>
    </div>
</footer>


<div id="page-preloader"><span class="spinner"></span></div>




<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
      </div>
      <div class="modal-body">
        <form>
            <input type="text" placeholder="Как к вам обращаться?" required><br>
            <input type="email" placeholder="Ваш E-Mail" required><br>
            <input type="text" placeholder="На какой номер перезвонить?" required><br>
            <input type="password" placeholder="Придумайте пароль" required><br>
            <input type="password" placeholder="Повторите пароль" required><br>

            <input type="submit" class="submit" value="Зарегистрироватсья">
        </form>

      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Войти</h4>
      </div>
      <div class="modal-body">

            <input type="email" placeholder="E-Mail" required><br>
            <input type="password" placeholder="Пароль" required><br>

            <input type="submit" class="submit" value="Войти">
        </form>

      </div>
    </div>
  </div>
</div>



<!-- build:js js/vendor.min.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/owl.carousel/dist/owl.carousel.js"></script>
<script src="bower_components/aos/dist/aos.js"></script>
<script src="bower_components/page-scroll-to-id/jquery.malihu.PageScroll2id.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/chartist/dist/chartist.min.js"></script>
<script src="bower_components/chartist-plugin-pointlabels/dist/chartist-plugin-pointlabels.min.js"></script>
<script src="bower_components/onepage-scroll/jquery.onepage-scroll.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script>

    AOS.init({
        easing: 'ease-out-back',
        duration: 800
    });

</script>

<!-- build:js js/main.min.js -->
<script src="js/main.js"></script>
<script src="js/stat.js"></script>
<script src="js/buy.js"></script>
<!-- endbuild -->

</body>

</html>
